# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks
ios/Pods
ios/Runner.xcworkspace
ios/build/

# Android
.android/
.gradle/
local.properties
*.iml
*.hprof

# VS Code
.vscode/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/
web/build/
